* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  background-color: #b8f47c;
  width: 100%;
  height: 800px;
  padding-top: 30px;
}
.header {
  color: rgb(4, 133, 4);
  margin-bottom: 20px;
}
.inp {
  border: 2px solid rgb(4, 133, 4);
  border-radius: 5px;
  padding: 5px 10px;
  width: 100px;
  background: transparent;
}
.inp:focus {
  outline: none;
}
.btn {
  border: 2px solid rgb(4, 133, 4);
  border-radius: 5px;
  padding: 5px 15px;
  background: transparent;
  margin: 5px;
  color: rgb(18, 96, 18);
  cursor: pointer;
}
.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
.content {
  border: 5px solid rgb(40, 187, 40);
  border-radius: 25px;
  padding: 40px 10px;
  display: flex;
  justify-content: center;
  align-items: start;
  width: max-content;
}

.cells {
  cursor: pointer;
  text-align: center;
}
.gamer1 {
  margin: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 25px;
  font-weight: bold;
}
.gamer2 {
  margin: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 25px;
  font-weight: bold;
}
.cont {
  filter: blur(3px);
}
.popup {
  width: max-content;
  height: max-content;
  border: 1px solid rgb(60, 84, 27);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #11461c;
  font-weight: bold;
  padding: 20px 30px;
  
}
.popupHeader {
  color: #033507;
  font-size: 28px;
  margin-bottom: 10px;
  text-decoration: underline;
}
.playmoves {
  font-size: 18px;
}

.buttons {
  display: inline-block;
  width: max-content;
}
.drawpopup {
  padding: 30px;
}
.p {
  font-size: 22px;
  margin-bottom: 10px;
  border:  none;
}
.inpN{
  cursor: pointer;
  width: max-content;
}

.message{
  font-size: 24px;
  margin-bottom: 10px;
  color: #033507;
}
